# SPDX-FileCopyrightText: 2019 Veit Schiele
#
# SPDX-License-Identifier: BSD-3-Clause

# Mac OS X
.DS_Store

# Editors
.vscode/

# Sphinx builds
docs/_build/

# IPython
.ipynb_checkpoints

# Intersphinx objects
_intersphinx

# spack
.spack-env

# Node
node_modules

# Examples
fortune500.csv
mprun_demo.py
panel-examples
deploy-panel.html
test.png
pyviz.pkl

# venv
.venv/

# pip install -e .
Python4DataScience.egg-info/
