# SPDX-FileCopyrightText: 2019 Veit Schiele
#
# SPDX-License-Identifier: BSD-3-Clause

furo
ipython
ipywidgets
nbsphinx
sphinxcontrib-svg2pdfconverter
sphinxext-opengraph
# matplotlib is required for social cards
matplotlib
sphinx-copybutton
sphinx_inline_tabs
sphinx-lint
